body {
    background: black;
    color: white;
    text-align: center;
}

.text, select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 4px solid #e25098;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submit:hover {
  background-color: #45a049;
}

.stop {
  width: 10%;
  background-color: #FF0000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.stop:hover {
  background-color: #B30505;
}

div {
  text-align: center;
}
