body {
    background: black;
    color: white;
    text-align: center;
}

.inline form {display : inline-block;}

.playlist {
    margin: 0 auto;
    width: 600px;
    height: 200px;
    padding: 12px;
    border: 4px solid #e25098;
    border-radius: 15px;
}

.control {
    margin: 0 auto;
    width: 500px;
    height: 170px; 
    border: 4px solid #e25098;
    border-radius: 15px;
}

.text, select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 4px solid #e25098;
  border-radius: 5px;
  box-sizing: border-box;
}

.add {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add:hover {
  background-color: #45a049;
}

.stop {
  width: 100%;
  background-color: #FF0000;
  color: white;
  padding: 14px 40px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.stop:hover {
  background-color: #B30505;
}

.play {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 40px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.play:hover {
  background-color: #45a049;
}

.pause {
  width: 100%;
  background-color: #FF7F00;
  color: white;
  padding: 14px 30px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.pause:hover {
  background-color: #CE6A06;
}

.pl {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 30px;
  margin: 100px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.pl:hover {
  background-color: #45a049;
}

.vol {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 30px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.vol:hover {
  background-color: #45a049;
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
