<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<br />
<img src="/static/youpi.png">
<br />
<br />
<br />
<br />
<br />
<p>{{ html_playlist }}</p>
<br />
<br />
<br />
<div>
  <form method="POST">
    <input class="text" type="text" name="youtube_link" placeholder="Youtube link">
    <input class="add" type="submit" name="youtube_link"  value="add">
  </form>
  <form>
    <form action="/play" method="post">
      <input class="play" type="submit" name="play"  value="play">
    </form>
    <form action="/stop" method="post">
      <input class="stop" type="submit" name="stop"  value="stop">
    </form>
    <form action="/pause" method="post">
      <input class="pause" type="submit" name="pause"  value="pause">
    </form>
  </form>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p><b>API</b></p>
<p><b>Start audio youtube stream with youtube id's video</b></p>
<p>http://ip_address:8080/play?id=xxxxxxx</p>
<p><b>Stop audio youtube stream</b></p>
<p>http://ip_address:8080/stop</p>
</div>
</body>
</html>
